<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Green Acres</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body background="/images/lawn3.jfif" style="background-size: cover">
  <section class="content">
    <header class="h">
      <h1>
        <a href="/" style="text-decoration: none">Green Acres</a>
      </h1>
    </header>
    <main class="m">
      {{{ body }}}
    </main>
    
  </section>
</body>

</html>