<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Green Acres</title>
  <link rel="stylesheet" href="/css/style.css">
  <script src="https://cdn.jsdelivr.net/npm/add-to-calendar-button@2" async defer></script>

</head>
<main>
<body>

<header> Head goes here</header>

{{{body}}}

</body>
</main>
 <script src="/js/calenderApi.js"></script>
</html>