<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Green Acres</title>
  <link rel="stylesheet" href="/css/style.css">
  <script src="https://cdn.jsdelivr.net/npm/add-to-calendar-button@2" async defer></script>

</head>
<body>

<header> 
<h1>Head goes here</h1>
</header>

<main>
<nav id="nav-bar">
  <section>
    <ul>
     List
    </ul>
  </section>
</nav>
<section>
  {{{body}}}
</section>
</main>
</body>
 <script src="/js/calenderApi.js"></script>
</html>