<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Green Acres</title>
  <link rel="stylesheet" href="/css/style.css">
  <script src="https://cdn.jsdelivr.net/npm/add-to-calendar-button@2" async defer></script>
</head>

<body>
  <header> 
    <img src='../images/logo.png' alt='logo' class="logo" height="100vh" width="10%"></img>
    <h1><a href="/" class="title" style="text-decoration: none;">Green Acres</a></h1>
    <p class="description">Landscaping <br> and Backyard Care <br> Companies</p>
  </header>

  <main>
    <nav id="nav-bar">
      <section>
        <ul>
        <a href="/client">Clients</a>
        </ul>    
        <ul>
        <a href="/employee">Employees</a>
        </ul>    
        <ul>
        <a href="/tasks">Tasks</a>
        </ul>    
        <ul>
        <a href="/">Jobs</a>
        </ul>
      </section>
  <footer>
    <div>
      Developers:<br>
      •Micah Cox<br>
      •Thomas Smith<br>
      •Rashawn Hall<br>
      •Daved Strzykalski<br>
      •Kenneth Hasson<br>
      •Ernesto Gonzalez
    </div>
  </footer>
    </nav>
    <section id="hb-body">
      {{{body}}}
    </section>
  </main>
</body>

<script src="/js/calenderApi.js"></script>

</html>