<section class="clients">
    
<h2>Add Client</h2>

<form class="add-client">
  <div class="form-group">
    <label for="first_name">First Name:</label>
    <input class="form-input" type="text" id="first_name" placeholder="first name"/>

<label for="last_name">Last Name:</label>
    <input class="form-input" type="text" id="last_name" placeholder="Last Name" />



        <label for="location">Address:</label>
        <input class="form-input" type="text" id="location" placeholder="123 Main St, Boston, MA 12345. " />
  

 


    <button class="btn btn-primary" type="submit">Submit</button>

  </div>
</form>

{{#each clients as |client|}}
    <div class="client-field">
        <section class="client-column">
            <ul>Client Id: {{client.id}}</ul>
        </section>
        <section class="client-column">
            <ul>First Name: {{client.first_name}}</ul>
            <ul>Last Name: {{client.last_name}}</ul>
        </section>
        <section class="client-column">
            <ul>Location: {{client.location}}</ul>
        </section> 
    </div>
{{/each}}
</section>

<script src="/js/index.js"></script>




    


