<h2>Add Employee</h2>

<form class="add-client">
  <div class="form-group">
    <label for="first_name">First Name:</label>
    <input class="form-input" type="text" id="first_name" placeholder="first name"/>
    <label for="last_name">Last Name:</label>
    <input class="form-input" type="text" id="last_name" placeholder="Last Name" />
    <button class="btn btn-primary" type="submit">Submit</button>
  </div>
</form>

<script src="/js/employee.js"></script>