:root{
    --bg-color: black;
    --default-color: white
}

*{
    background-color: var(--bg-color);
    color: var(--default-color);
}

header {
    display: flex;
    justify-content: space-between;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* background-color: black; */
    /* color: #ffffff; */
}
main {
    display: flex;
}

#nav-bar {
    width: 20%;
}

#nav-bar section {
}

main section {
    width: 80%
}

.job-column1 ul{
    /* width: 30%; */
}
.job-column2 ul{
    /* width: 30%; */
}