*{
    margin:0;
    padding:0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url('../images/lawn3.jfif');
    background-size: cover;
}

header {
    display: flex;
    justify-content: space-between;
    font-family: 'Brush Script MT', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url('../images/lawn.jpg');
    border-bottom: double;
    border-width: 5px;
    border-color: cyan;
    width: 100%;
    height: 20%;
    font-size: 30px;
}

.logo {
    justify-self: flex-start;
}

.title {
    color: teal;
}

.description {
    color: magenta;
}

main {
    display: flex;
    min-height: 80vh;
}

#nav-bar {
    width: 20%;
}

#nav-bar section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Brush Script MT', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#nav-bar section ul {
    margin-top: 5%;
}

#nav-bar section ul:hover {
    background-color: aqua;
}

#nav-bar section ul a {
    display: block;
    text-decoration: none;
    color: teal;
}

#nav-bar section ul {
    text-align: center;
    text-decoration: none;
    margin-right: 10px;
    font-size: 150%;
    padding-right: 10px;
    border-style: double; 
    background-color: lightgreen;
    color: cyan;
    border-color: teal;
}

#hb-body {
    width: 80%
}

footer {
    margin-left: 5%;
    margin-top: 100%;
}

footer div {
    min-height: 20vh;
    font-family: 'Times New Roman', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 120%;
    color: cyan;
}

.jobs {
    padding: 2%;
    height: 100vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: magenta;
    background-image: url('../images/lawn4.jfif');
    background-size: cover;
    border-style: double;
    border-width: 10px;
    border-color: teal;
}

.employees {
    padding: 2%;
    height: 100vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(209, 48, 150);
    background-image: url('../images/lawn5.jfif');
    background-size: cover;
    border-style: double;
    border-width: 10px;
    border-color: teal;
}

.clients {
    padding: 2%;
    height: 100vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: darkblue;
    background-image: url('../images/lawn2.jfif');
    background-size: cover;
    border-style: double;
    border-width: 10px;
    border-color: teal;
}

.form-group button{
    width: 8%;
    height: 4vh;
    background-color: lightgreen;
    color: teal;
    border-style: double;
    border-width: 3px;
    border-color: teal;
}

.form-group button:hover{
    background-color: aqua;
}

.job-column {
    min-width: 30%;
    width: 33.3%;
    color: aqua;
    display: block;
}

.job-field {
    margin-bottom: 2%;
    justify-content: space-evenly;
    border-style: solid; 
    display:flex; 
    background-color: teal;
}

.client-column {
    min-width: 30%;
    width: 33.3%;
    color: aqua;
    display: block;
}

.client-field {
    margin-bottom: 2%;
    border-style: solid; 
    display:flex; 
    background-color: teal;
}

